 
@ViewBag.Mensagem

<h1>Formulario de Cadastro</h1>

<form action="/Usuario/Cadastrar" method="POST">

<label>
    Nome
    <input type="text" name="Nome">
</label>

<label>
    Email
    <input type="email" name="Email">
</label>

<label>
    Senha
    <input type="password" name="Senha">
</label>

<input type="Submit" value="Confirmar">

</form>